@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700;1,900&display=swap');

* {
  font-family: 'DM Sans';
}

body {
  margin: 0;
  
}

p {
  margin-block: 0;
}



.flex {
  display: flex;
}

/* 
  Landing Page Styles
*/

.landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 100vw;
  height: 100vh;

  margin: auto;
  align-items: center;
  justify-content: center;
}

.landing-text {
  font-size: 40px;
  font-weight: 700;

}

.landing-text.green-text {
  color: #16a34a;
}

#title {
  font-size: 48px;
  font-weight: 900;
}

.signup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  align-items: center;
  justify-content: center;
}

.signup-btn {
  background-color: #16a34a;
  border: #16a34a 2px solid;
  border-radius: 16px;
  height: 60px;
  width: 400px;

  color: white;
  font-size: 24px;

  cursor: pointer;
}


.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
}

/* 

*/

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sidebar {
  width: 250px;
  height: 100vh;
  grid-row: 1 / 3;

  background-color: #14532d;
} */

/* 
  Dashboard
*/

/* .dashboard {
  display: grid;
  grid-template-columns: 200px 1fr;

  height: 100vh
} */

.sidebar-container {
  background-color:#e2e8f0;
  width: 200px;

  display: grid;
  grid-template-rows: 72px 1fr;
  row-gap: 50px;
  position: fixed;
  height: 100%;
}

.main-container {
  
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100px;
  row-gap: 24px;
  margin-left: 200px;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  font-weight: 900;
  font-size: 20px;
}

.navbar{
  background-color: #e2e8f0;
  border-bottom: #f1f5f9 2px solid;
  

  display: flex;
  flex-direction: column;
  
  gap: 12px;

  height: 100%;
  width: 100%;
  
}

.link {
  text-decoration: none;
}

.navbar div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;

  height: 40px;
  width: 80%;

  padding-left: 10px;

  margin-left: 15px;
  margin-right: 15px;

  cursor: pointer;
  color: black;
  
}

.selected .navicon{
  fill: white;
}

.selected p {
  color: rgb(255, 255, 255)
}

#home.selected {
  background-color: #16a34a;
  border-radius: 10px;
}

#profile.selected {
  background-color: #16a34a;
  border-radius: 10px;
}

.navicon {
  height: 20px;
  width: 20px;
  margin-bottom: 2px;

  color: black;
  fill: black;


}

.navlink p {
  font-family: 'DM Sans';
  font-weight: 700;
  margin-block: 1em;

  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  align-content: center;
  padding: 24px;

  border-bottom: #e2e8f0 2px solid;
}

.header-dashboard {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-left: auto;
}

.profilepic {
  width: 48px;
  border-radius: 30px;
  cursor: pointer;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  background-color: #16a34a;
  border: #16a34a 1px solid;

  height: 40px;
  width: 100px;
  /* padding: 6px 18px 6px 18px; */
  border-radius: 12px;

  cursor: pointer;
}

.logout-btn p {
  font-weight: 600;
  font-size: 12px;
  color: white;

  
}

.title-message p {
  font-weight: 600;
  font-size: 16px;
}






.modules-container {
  
  display: grid;
  grid-template-rows: 80px 300px 1fr;
  row-gap: 72px;

  margin-left: 24px;
  margin-right: 24px;

}

.module4-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  height: 100px;
}

.module1 {
  
  background-color: white;
  width: 100%;
  height: 100%;

  border-radius: 16px;
  border: #e2e8f0 2px solid;
}

.plants-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dash-label {
  font-size: 16px;
  font-weight: 600;

  margin-bottom: 12px;
}

/*start of plant module styling*/
.plant-module-container {
  display: grid;
  grid-template-rows: 100px 35px 1fr 1fr 1fr 1fr 20px;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  border: #e2e8f0 4px solid;
  margin-right: 25px;
  margin-bottom: 25px;
}

.plant-module-header {
  display: grid;
  height: 100%;
  grid-template-columns: 300px 1fr;
  align-items: center;
}

.plant-name-type {
  margin-left: 25px;
  border-bottom: #e2e8f0 3px solid;
  height: 75px;
}

.plant-name{
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.plant-type {
  font-size: 18px;
  font-weight: bold;
  color: #545454;
}

.flower-icon {
  width: 80px;
  padding-top: 20px;
  justify-self: left;
}

.plant-age {
  margin-left: 25px;
  font-size: 20px;
  font-weight: bold;
}

.plant-info-module {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-left: 20px;
}

.ruler-icon {
  width: 50px;
}

.moisture-icon {
  width: 45px;
}

.temp-icon {
  width: 50px;
}

.watering-icon {
  width: 50px;
}

.plant-info-text {
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  padding-left: 10px;
  padding-bottom: 10px;
}